body{
  background-color: #39AEA9;
  text-align: center;
  color: #fff;
}

h1{
  font-size: 7rem;
  font-family: 'Lobster', cursive;
  margin-bottom: 30px;
}

div{
  display: inline-block;
  margin:10px;
}

img{
  width: 80%;
}

p{
  font-size: 2rem;
  font-family: 'Merienda', cursive;
}

footer{
  margin-top: 50px;
}
